- $id: env
  type: object
  properties: {}
  required: []

- $id: build
  type: object
  properties: {}
  required: []

- $id: config
  config:
  type: object
  properties:
    title: { type: string }
    titleIcon: { type: string }

    apiUrl: { type: string, format: uri-reference }

    signupEnabled: { type: boolean }

    locales: { type: array, items: { type: string } }

    pushNotifications:
      type: object
      properties:
        guestEnabled: { type: boolean }
        userEnabled: { type: boolean }

      additionalProperties: false
      required: [guestEnabled, userEnabled]

  required: [title, signupEnabled]
